
@{
    ViewBag.Title = "Thêm mới sách";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="main-container">
    <div class="xs-pd-20-10 pd-ltr-20">
        <div class="title pb-10">
            <h2 class="h3 mb-0">Thêm mới sách  </h2>
            <div class="card card-box">
            </div>
        </div>

        <div class="xs-pd-20-10 pd-ltr-20">
            <form method="post" enctype="multipart/form-data" action="/Admin/UploadSach">
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Mã sách</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" type="text" placeholder="Ví dụ : GH123123 hoặc để trống" name="MASACH">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Tên sách</label>
                    <div class="col-sm-12 col-md-10">
                        <input required class="form-control" placeholder="Ví dụ: Kinh tế chính trị" type="text" name="TENSACH">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Số trang</label>
                    <div class="col-sm-12 col-md-10">
                        <input required class="form-control" type="number" name="SOTRANG">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">File PDF</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" type="file" name="filepdf" accept="application/pdf">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Hình ảnh</label>
                    <div class="col-sm-12 col-md-10">
                        <input required class="form-control" type="file" name="hinhanh" id="hinhanh" accept="image/*">
                        <img id="ha" src="" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Lượt xem</label>
                    <div class="col-sm-12 col-md-10">
                        <input required class="form-control"  name="LUOTXEM" type="number">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Ngôn ngữ</label>
                    <div class="col-sm-12 col-md-10">
                        <input required class="form-control"  name="NGONNGU" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Tác giả</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" type="text" name="MATACGIA" style="display:none;">

                        <input required class="form-control" name="TENTACGIA" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Ghi chú</label>
                    <div class="col-sm-12 col-md-10">
                        <textarea required class="form-control" name="GHICHU" rows="5"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Trạng thái</label>
                    <div class="col-sm-12 col-md-10">
                        <select class="custom-select col-12" name="TRANGTHAI" required>
                                <option value="1" label="Mới" selected></option>
                                <option value="2" label="Hư hại"></option>


                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Loại sách</label>
                    <div class="col-sm-12 col-md-10">
                        <select class="custom-select col-12" name="MALOAISACH" required>
                            @{ int index1 = 0;}
                            @foreach (var item in ViewBag.Loaisach as List<WebThuvien.Models.Entity.LOAISACH>)
                            {
                                index1 = index1 + 1;
                                if (index1 == 1)
                                {
                                    <option selected value="@item.MATHELOAI" label="@item.TENTHELOAI"></option>

                                }
                                else
                                {
                                <option value = "@item.MATHELOAI" label = "@item.TENTHELOAI" ></option>

                                }

                            }

                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Lĩnh vực</label>
                    <div class="col-sm-12 col-md-10">
                        <select class="custom-select col-12" name="MALINHVUC" required>
                            @foreach (var item in ViewBag.Linhvuc as List<WebThuvien.Models.Entity.LINHVUC>)
                            {


                                <option value="@item.MALINHVUC" label="@item.TENLINHVUC"></option>

                            }

                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Nhà xuất bản</label>
                    <div class="col-sm-12 col-md-10">
                        <select class="custom-select col-12" name="MANHAXUATBAN" required>
                            @foreach (var item in ViewBag.NXB as List<WebThuvien.Models.Entity.NHAXUATBAN>)
                            {


                                <option value="@item.MANXB" label="@item.TENNXB"></option>

                            }

                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Năm xuất bản</label>
                    <div class="col-sm-12 col-md-10">
                        <input required class="form-control" name="NAMXUATBAN" placeholder="Nhập năm xuất bản" type="month">
                    </div>
                </div>
                <input type="submit" value="Lưu" class="form-control" />
            </form>
        </div>


        <div style="height:40px"></div>



        <div class="footer-wrap pd-20 mb-20 card-box">
            Thư viện số hóa - <a href="/" target="_blank">Ban cơ yếu chính phủ</a>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    function readURL(input,str) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#'+str).attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    $("#hinhanh").change(function () {
        readURL(this,'ha');
    });
</script>