
@{
    ViewBag.Title = "Sách : "+ViewBag.Sach.TENSACH;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="main-container">
    <div class="xs-pd-20-10 pd-ltr-20">
        <div class="title pb-10">
            <h2 class="h3 mb-0"> @ViewBag.Sach.TENSACH </h2>
            <div  style="max-height:350px;max-width:350px;" class="card card-box">
                <img class="card-img-top" src="~/Content/ClientContent/images/Books/@ViewBag.Sach.HINHANH" alt="Hình ảnh sách">
            </div>
            <div style="height:100px"></div>
        </div>

        <div class="xs-pd-20-10 pd-ltr-20">
            <form method="post" enctype="multipart/form-data" action="/Admin/ChinhsuaSach">
                <input type="text" name="ID" style="display:none;" value="@ViewBag.Sach.ID" />
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Mã sách</label>
                    <div class="col-sm-12 col-md-10">
                        <input required disabled class="form-control" type="text" placeholder="Ví dụ : GH123123" name="MASACH" value="@ViewBag.Sach.MASACH">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Tên sách</label>
                    <div class="col-sm-12 col-md-10">
                        <input required class="form-control" value="@ViewBag.Sach.TENSACH" placeholder="Ví dụ: Kinh tế chính trị" type="text" name="TENSACH">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Số trang</label>
                    <div class="col-sm-12 col-md-10">
                        <input required class="form-control" value="@ViewBag.Sach.SOTRANG" type="number" name="SOTRANG">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">File PDF</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" type="file" name="filepdf" accept="application/pdf">
                        
                            @if (ViewBag.Sach.FILEPATH !=null)
                            {
                                <div class="col-sm-6 col-md-12">
                                    <a class="btn btn-primary" href="~/Content/ClientContent/FILE_PDF/@ViewBag.Sach.FILEPATH">Nội dung hiện tại</a>
                                </div>
                            }
                                
                        <input class="form-control" type="text" name="FILEPATH" style="display:none;" value="@ViewBag.Sach.FILEPATH">

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Hình ảnh</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" type="file" name="hinhanh" id="hinhanh" accept="image/*">
                        <p>Hình ảnh cũ : </p>
                        <img id="ha" src="~/Content/ClientContent/images/Books/@ViewBag.Sach.HINHANH" />
                        <input class="form-control" type="text" name="HINHANH" style="display:none;" value="@ViewBag.Sach.HINHANH">

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Lượt xem</label>
                    <div class="col-sm-12 col-md-10">
                        <input required class="form-control" value="@ViewBag.Sach.LUOTXEM" name="LUOTXEM" type="number">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Ngôn ngữ</label>
                    <div class="col-sm-12 col-md-10">
                        <input required class="form-control" value="@ViewBag.Sach.NGONNGU" name="NGONNGU" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Tác giả</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" value="@ViewBag.Sach.MATACGIA" type="text" name="MATACGIA" style="display:none;">

                        <input required class="form-control" value="@ViewBag.Sach.TACGIA.TENTACGIA" name="TENTACGIA" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Ghi chú</label>
                    <div class="col-sm-12 col-md-10">
                        <textarea required class="form-control" name="GHICHU" rows="5">@ViewBag.Sach.GHICHU</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Trạng thái</label>
                    <div class="col-sm-12 col-md-10">
                        <select class="custom-select col-12" name="TRANGTHAI" required>
                            @if (ViewBag.Sach.TRANGTHAI == 1)
                            {
                                <option value="1" label="Mới" selected></option>
                                <option value="2" label="Hư hại"></option>
                            }
                            else
                            {
                                <option value="1" label="Mới" ></option>

                                <option value="2" label="Hư hại" selected></option>

                            }

                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Loại sách</label>
                    <div class="col-sm-12 col-md-10">
                        <select class="custom-select col-12" name="MALOAISACH" required>
                            @foreach (var item in ViewBag.Loaisach as List<WebThuvien.Models.Entity.LOAISACH>)
                            {
                                if (@item.MATHELOAI == ViewBag.Sach.MALOAISACH)
                                {
                                    <option value="@item.MATHELOAI" label="@item.TENTHELOAI" selected></option>

                                }

                                <option value="@item.MATHELOAI" label="@item.TENTHELOAI"></option>

                            }

                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Lĩnh vực</label>
                    <div class="col-sm-12 col-md-10">
                        <select class="custom-select col-12" name="MALINHVUC" required>
                            @foreach (var item in ViewBag.Linhvuc as List<WebThuvien.Models.Entity.LINHVUC>)
                            {
                                if (@item.MALINHVUC == ViewBag.Sach.MALINHVUC)
                                {
                                    <option value="@item.MALINHVUC" label="@item.TENLINHVUC" selected></option>

                                }

                                <option value="@item.MALINHVUC" label="@item.TENLINHVUC"></option>

                            }

                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Nhà xuất bản</label>
                    <div class="col-sm-12 col-md-10">
                        <select class="custom-select col-12" name="MANHAXUATBAN" required>
                            @foreach (var item in ViewBag.NXB as List<WebThuvien.Models.Entity.NHAXUATBAN>)
                            {
                                if (@item.MANXB == ViewBag.Sach.MANHAXUATBAN)
                                {
                                    <option value="@item.MANXB" label="@item.TENNXB" selected></option>

                                }

                                <option value="@item.MANXB" label="@item.TENNXB"></option>

                            }

                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Năm xuất bản</label>
                    <div class="col-sm-12 col-md-10">
                        @{ 
                            //tính tháng
                            var NAMXB = "";
                            if (ViewBag.Sach.NAMXUATBAN != null)
                            {
                                string ngaysinhStr = ViewBag.Sach.NAMXUATBAN.ToString();
                                DateTime date = (Convert.ToDateTime(ngaysinhStr));
                                string month_kt = "-" + date.Month;
                                if (date.Month < 10)
                                {
                                    month_kt = "-0" + date.Month;

                                }

                                NAMXB = date.Year + month_kt;
                            }
                        }
                        <input required class="form-control" value="@NAMXB" name="NAMXUATBAN" placeholder="Nhập năm xuất bản" type="month">
                    </div>
                </div>
                <input type="submit" value="Lưu" class="form-control"/>
            </form>
        </div>


        <div style="height:40px"></div>



            <div class="footer-wrap pd-20 mb-20 card-box">
               Thư viện số hóa - <a href="/" target="_blank">Ban cơ yếu chính phủ</a>
            </div>
        </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    function readURL(input,str) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#'+str).attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    $("#hinhanh").change(function () {
        readURL(this,'ha');
    });
</script>