@using WebThuvien.Models.Entity;
@{
    ViewBag.Title = "Chi tiết sách : "+ ViewBag.sach.TENSACH;
    Layout = "~/Views/Shared/_LayoutHomeClient.cshtml";
}

        <!-- Start: Products Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="booksmedia-detail-main">
                <div class="container">
                    <div class="row">
                        <!-- Start: Search Section -->
                        
                        <!-- End: Search Section -->
                    </div>
                    <div class="booksmedia-detail-box">
                        <div class="detailed-box">
                            <div class="col-xs-12 col-sm-5 col-md-3">
                                <div class="post-thumbnail">
                                    <div class="book-list-icon @ViewBag.loaisach.KIHIEU-icon"></div>
                                    <img style="height:330px;width:100%;" src="~/Content/ClientContent/images/Books/@ViewBag.sach.HINHANH" alt="Book Image">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-6">
                                <div class="post-center-content">
                                    <h2>@ViewBag.sach.TENSACH</h2>
                                    <p><strong>Tác giả:</strong> @ViewBag.tacgia.TENTACGIA</p>
                                    <p><strong>Mã số :</strong> @ViewBag.sach.MASACH</p>
                                    <p><strong>Số trang:</strong>@ViewBag.sach.SOTRANG </p>
                                    <p><strong>Lượt xem:</strong> @ViewBag.sach.LUOTXEM</p>
                                    <p><strong>Trạng thái:</strong> 
                                    @{if (@ViewBag.sach.TRANGTHAI==1)
	                                {
		                                <strong>Đã mượn</strong>            
                                    }
                                    else
                                    {
                                        <strong>Khả dụng</strong>
                                    }}</p>
                                    <p><strong>Ngôn ngữ:</strong>@ViewBag.sach.NGONNGU</p>
                                    
                                    <p><strong>Ngày tải lên:</strong> @ViewBag.sach.NGAYTAILEN</p>
                                    
                                    <span class="rating">
                                        <strong style="padding-top:5px;">Đánh giá  :</strong>
                                        <span style="font-size:20px;">☆</span>
                                        <span style="font-size:20px;">☆</span>
                                        <span style="font-size:20px;">☆</span>
                                        <span style="font-size:20px;">☆</span>
                                        <span style="font-size:20px;">☆</span>
                                    </span>
                                    <div class="actions">
                                        <ul>

                                            <li>
                                                <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="" data-original-title="Thích">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="" data-original-title="Gửi mail">
                                                    <i class="fa fa-envelope"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="" data-original-title="Tải xuống">
                                                    <i class="fa fa-long-arrow-right"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="" data-original-title="Chia sẻ">
                                                    <i class="fa fa-share-alt"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 ">
                                <div class="post-right-content">
                                    <h4>
                                        @{if (@ViewBag.sach.FILEPATH == null)
                                        {
                                            <strong>Không có dữ liệu mềm</strong>
                                        }
                                        else
                                        {
                                            <strong>Khả dụng</strong>
                                        }
                                        }
                                    </h4>
                                    <p><strong>Tổng số quyển :</strong> 01</p>
                                    <p><strong>Loại sách:</strong> <a href="#" style="color:#f62457">@ViewBag.loaisach.TENTHELOAI</a></p>
                                    <p><strong>Lĩnh vực:</strong> <a href="#" style="color:#f62457">@ViewBag.linhvuc.TENLINHVUC</a></p>
                                    <p><strong>Nhà xuất bản :</strong> <a href="#" style="color:#f62457">@ViewBag.nxb.TENNXB</a></p>
                                    <p><strong>Đặt mượn sách :</strong>  01</p>
                                    <a href="#." class="btn btn-dark-gray">Tải xuống</a>
                                    <a href="~/Content/ClientContent/FILE_PDF/@ViewBag.sach.FILEPATH" class="btn btn-dark-gray">Đọc sách trong trang mới</a>
                                    <a href="#." class="btn btn-dark-gray">Xem thêm sách tương tự</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div>
                            <embed src="https://drive.google.com/viewerng/viewer?embedded=true&url=https://localhost:44362/Content/ClientContent/FILE_PDF/SACH1.pdf" width="800" height="500">
                        </div>
                        <p><strong>Tóm tắt:</strong> @ViewBag.sach.GHICHU </p>
                        <div class="table-tabs" id="responsiveTabs">
                            <ul class="nav nav-tabs">
                                <li class="active"><b class="arrow-up"></b><a data-toggle="tab" href="#sectionA">Bình luận</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="sectionA" class="tab-pane fade in active">
                                    <div class="container" style="width:100%">
                                        <div class="row">
                                            <div class="col-12">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<!-- End: Products Section -->

<div class="booksmedia-fullwidth">
    <div class="container">
        <h2 class="section-title text-center">Sách liên quan</h2>
        <span class="underline center"></span>
        <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="popular-items-detail-v2">
            @foreach (var item in ViewBag.Sachlienquan as List<WebThuvien.Models.Entity.SACH>)
            {
                <li>
                    <div class="book-list-icon blue-icon"></div>
                    <figure>
                        <img src="~/Content/ClientContent/images/Books/@item.HINHANH" alt="Book">
                        <figcaption>
                            <header>
                                <h4><a href="/sach/chitietsach?masach=@item.MASACH">@item.TENSACH</a></h4>
                                <p><strong>Tác giả:</strong>  @item.TACGIA.TENTACGIA</p>
                                <p><strong>Mã sách :</strong>  @item.MASACH</p>
                            </header>
                            <p>@item.GHICHU</p>
                            <div class="actions">
                                <ul>
                                    <li>
                                        <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Yêu thích">
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Tìm kiếm">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="In">
                                            <i class="fa fa-print"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Chia sẻ">
                                            <i class="fa fa-share-alt"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </figcaption>
                    </figure>
                </li>
            }




        </ul>
    </div>
</div>


