
@{
    ViewBag.Title = "Tìm kiếm : "+ViewBag.noidungnhap + " - Trang "+ViewBag.currentPage ;
    ViewBag.noidung = ViewBag.noidungnhap;
    Layout = "~/Views/Shared/_LayoutHomeClient.cshtml";
}

 <!-- Start: Products Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="books-full-width">
                <div class="container">
                    <!-- Start: Search Section -->
                    <!-- End: Search Section -->
                    <!--
                    <div class="filter-options margin-list">
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <select name="orderby">
                                    <option selected="selected">Sort by Title</option>
                                    <option>Sort by popularity</option>
                                    <option>Sort by rating</option>
                                    <option>Sort by newness</option>
                                    <option>Sort by price</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <select name="orderby">
                                    <option selected="selected">Sort by Author</option>
                                    <option>Sort by popularity</option>
                                    <option>Sort by rating</option>
                                    <option>Sort by newness</option>
                                    <option>Sort by price</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-3">
                                <select name="orderby">
                                    <option selected="selected">Language</option>
                                    <option>Sort by popularity</option>
                                    <option>Sort by rating</option>
                                    <option>Sort by newness</option>
                                    <option>Sort by price</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-3">
                                <select name="orderby">
                                    <option selected="selected">Publishing Date</option>
                                    <option>Sort by popularity</option>
                                    <option>Sort by rating</option>
                                    <option>Sort by newness</option>
                                    <option>Sort by price</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-12 pull-right">
                                <div class="filter-toggle">
                                    <a href="#" class="active"><i class="glyphicon glyphicon-th-large"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                    <div class="booksmedia-fullwidth">
                        <ul>
                            @foreach (var item in ViewBag.SearchSach as List<WebThuvien.Models.Entity.SACH>)
                            {
                                <li>
                                    <div class="book-list-icon light-green-icon"></div>
                                    <figure>
                                        <a href="/Sach/Chitietsach?MaSach=@item.MASACH"><img  style="height:435px;width:100%;" src="~/Content/ClientContent/images/Books/@item.HINHANH" alt="Book"></a>
                                        <figcaption>
                                            <header>
                                                <h4><a href="/Sach/Chitietsach?MaSach=@item.MASACH">@item.TENSACH</a></h4>
                                                <p><strong>Tác giả:</strong>  @item.TACGIA.MATACGIA</p>
                                                <p><strong>Lĩnh vực :</strong>  @item.LINHVUC.TENLINHVUC</p>
                                            </header>
                                            <p>@item.GHICHU</p>
                                            <div class="actions">
                                                <ul>
                                                    <li>
                                                        <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Yêu thích">
                                                            <i class="fa fa-heart"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Tìm kiếm">
                                                            <i class="fa fa-search"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="In">
                                                            <i class="fa fa-print"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Chia sẻ">
                                                            <i class="fa fa-share-alt"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </li>
                            }
                            
                        </ul>
                        @if (@ViewBag.countPage == 0)
                        {
                            <h1>Không tìm thấy kết quả nào!!</h1>
                        }
                    </div>
                    <nav class="navigation pagination text-center">
                        <h2 class="screen-reader-text">Posts navigation</h2>
                        <div class="nav-links">
                                @{
                                    if (ViewBag.currentPage != 1)
                                    {
                                        int prevPage = @ViewBag.currentPage - 1;
                                    <a class="prev page-numbers" href="/Sach/Timkiemsach?noidungnhap=@ViewBag.noidungnhap&loaisach=@ViewBag.loaisach&linhvuc=@ViewBag.linhvuc&pagenumber=@prevPage"><i class="fa fa-long-arrow-left"></i> Trang trước</a>
                                    }
                                    else
                                    {
                                    <a class="prev page-numbers" href="#."><i class="fa fa-long-arrow-left"></i> Trang trước</a>
                                    }

                            }
                            @for (int i = 1; i <= ViewBag.countPage; i++)
                            {
                                if (@i == ViewBag.currentPage)
                                {
                                    <a href="/Sach/Timkiemsach?noidungnhap=@ViewBag.noidungnhap&loaisach=@ViewBag.loaisach&linhvuc=@ViewBag.linhvuc&pagenumber=@i"><span class="page-numbers current">@i</span></a>

                                }
                                else
                                {
                                    <a href="/Sach/Timkiemsach?noidungnhap=@ViewBag.noidungnhap&loaisach=@ViewBag.loaisach&linhvuc=@ViewBag.linhvuc&pagenumber=@i"><span class="page-numbers">@i</span></a>
                                }
                            }
                            @{
                                if (@ViewBag.currentPage != @ViewBag.countPage)
                                {
                                    int nextPage = @ViewBag.currentPage + 1;
                                    <a class="next page-numbers" href="/Sach/Timkiemsach?noidungnhap=@ViewBag.noidungnhap&loaisach=@ViewBag.loaisach&linhvuc=@ViewBag.linhvuc&pagenumber=@nextPage">Trang sau <i class="fa fa-long-arrow-right"></i></a>

                                }
                                else
                                {
                                    <a class="next page-numbers" href="#.">Trang sau <i class="fa fa-long-arrow-right"></i></a>

                                }
                            }
                        </div>
                    </nav>
                </div>

            </div>
        </main>
    </div>
</div>
<!-- End: Products Section -->
<!-- Start: Social Network -->
