
@{
    ViewBag.Title = "Tìm kiếm : "+ViewBag.noidungnhap + " - Trang "+ViewBag.currentPage ;
    ViewBag.noidung = ViewBag.noidungnhap;
  
    Layout = "~/Views/Shared/_LayoutHomeClient.cshtml";
}

 <!-- Start: Products Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="books-full-width">
                <div class="container">

                    <div class="booksmedia-fullwidth">
                        <ul>
                            @foreach (var item in ViewBag.SearchSach as List<WebThuvien.Models.Entity.SACH>)
                            {
                                <li>
                                    <div class="book-list-icon light-green-icon"></div>
                                    <figure  style="height:430px;width:350px">
                                        <a href="/Sach/Chitietsach?MaSach=@item.MASACH"><img src="~/Content/ClientContent/images/Books/@item.HINHANH" alt="Book"></a>
                                        <figcaption>
                                            <header>
                                                <h4><a href="/Sach/Chitietsach?MaSach=@item.MASACH">@item.TENSACH</a></h4>
                                                <p class="content-p"><strong >Tác giả:</strong>  @item.TACGIA.TENTACGIA</p>
                                                <p><strong>Lĩnh vực :</strong>  @item.LINHVUC.TENLINHVUC</p>
                                            </header>
                                            <p class="content-p">@item.GHICHU</p>
                                            <div class="actions">
                                                <ul>
                                                    <li>
                                                        <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Yêu thích">
                                                            <i class="fa fa-heart"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Tìm kiếm">
                                                            <i class="fa fa-search"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="In">
                                                            <i class="fa fa-print"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Chia sẻ">
                                                            <i class="fa fa-share-alt"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </li>
                            }
                            
                        </ul>
                        @if (@ViewBag.countPage == 0)
                        {
                            <h1>Không tìm thấy kết quả nào!!</h1>
                        }
                    </div>
                    <nav class="navigation pagination text-center">
                        <h2 class="screen-reader-text">Trang</h2>
                        <div class="nav-links">
                                @{
                                    if (ViewBag.currentPage != 1)
                                    {
                                        int prevPage = @ViewBag.currentPage - 1;
                                    <a class="prev page-numbers" href="/Sach/Timkiemsach?noidungnhap=@ViewBag.noidungnhap&loaisach=@ViewBag.loaisach&linhvuc=@ViewBag.linhvuc&pagenumber=@prevPage"><i class="fa fa-long-arrow-left"></i> Trang trước</a>
                                    }
                                    else
                                    {
                                    <a class="prev page-numbers" href="#."><i class="fa fa-long-arrow-left"></i> Trang trước</a>
                                    }

                            }
                            @for (int i = 1; i <= ViewBag.countPage; i++)
                            {
                                if (i == ViewBag.currentPage)
                                {
                                    <a href="/Sach/Timkiemsach?noidungnhap=@ViewBag.noidungnhap&loaisach=@ViewBag.loaisach&linhvuc=@ViewBag.linhvuc&pagenumber=@i"><span class="page-numbers current">@i</span></a>

                                }
                                else if(i < ViewBag.currentPage + 3 || i > ViewBag.currentPage - 3)
                                {
                                    <a href="/Sach/Timkiemsach?noidungnhap=@ViewBag.noidungnhap&loaisach=@ViewBag.loaisach&linhvuc=@ViewBag.linhvuc&pagenumber=@i"><span class="page-numbers">@i</span></a>
                                }
                            }
                            @{
                                if (@ViewBag.currentPage != @ViewBag.countPage)
                                {
                                    int nextPage = @ViewBag.currentPage + 1;
                                    <a class="next page-numbers" href="/Sach/Timkiemsach?noidungnhap=@ViewBag.noidungnhap&loaisach=@ViewBag.loaisach&linhvuc=@ViewBag.linhvuc&pagenumber=@nextPage">Trang sau <i class="fa fa-long-arrow-right"></i></a>

                                }
                                else
                                {
                                    <a class="next page-numbers" href="#.">Trang sau <i class="fa fa-long-arrow-right"></i></a>

                                }
                            }
                        </div>
                    </nav>
                </div>

            </div>
        </main>
    </div>
</div>
<!-- End: Products Section -->
<!-- Start: Social Network -->
<!-- End: Products Section -->
<script>
    function truncateText(selector, maxLength) {
        var element = document.querySelector(selector),
            truncated = element.innerText;

        if (truncated.length > maxLength) {
            truncated = truncated.substr(0, maxLength) + '...';
        }
        return truncated;
    }

    document.querySelector('.content-p').innerText = truncateText('.content-p', 50);
</script>