@{
    Layout = null;
}    <!-- Start: Category Filter -->
<section class="category-filter section-padding">
    <div class="container">
        <div class="row">
            <div class="center-content">
                <h2 class="section-title">Danh mục sách</h2>
                <span class="underline center"></span>
            </div>
            <div class="filter-buttons">
                <div class="filter btn" data-filter="all">Tất cả Lĩnh vực</div>
                @foreach (var item in ViewBag.Linhvuc)
                {
                    <div class="filter btn" data-filter=".@item.MALINHVUC">@item.TENLINHVUC</div>

                }
            </div>
            <div id="category-filter">
                <ul class="category-list">
                    @foreach (var item in ViewBag.TatcaSach)
                    {
                        <li class="category-item @item.MALINHVUC">
                            <figure>
                                <img style="min-height:328px;width:100%; max-height:330px;" src="~/Content/ClientContent/images/Books/@item.HINHANH" alt="New Releaase" />
                                <figcaption class="bg-blue">
                                    <div class="diamond">
                                        <i class="book"></i>
                                    </div>
                                    <div class="info-block">
                                        <h4>@item.TENSACH</h4>
                                        <span class="author"><strong>Tác giả:</strong> @item.TACGIA.TENTACGIA</span>
                                        <span class="author"><strong>Lĩnh vực:</strong> @item.LINHVUC.TENLINHVUC</span>
                                        <div class="rating">
                                            <span>☆</span>
                                            <span>☆</span>
                                            <span>☆</span>
                                            <span>☆</span>
                                            <span>☆</span>
                                        </div>
                                        <p>@item.GHICHU ...</p>
                                        <a href="/Sach/Chitietsach?MaSach=@item.MASACH">Xem chi tiết <i class="fa fa-long-arrow-right"></i></a>
                                        <ol>
                                            <li>
                                                <a href="/Sach?MaSach=@item.MASACH" data-toggle="blog-tags" data-placement="top" title="Gửi Mail">
                                                    <i class="fa fa-envelope"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Sach?MaSach=@item.MASACH" data-toggle="blog-tags" data-placement="top" title="Chia sẻ">
                                                    <i class="fa fa-share-alt"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Sach?MaSach=@item.MASACH" data-toggle="blog-tags" data-placement="top" title="Xem thông tin tác giả">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </li>
                                        </ol>
                                    </div>
                                </figcaption>
                            </figure>
                        </li>
                    }
                </ul>
                <a  class="center-content btn btn-primary" href="/Sach">
                    ------------Xem thêm------------
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>
<!-- Start: Category Filter -->
