@{
    Layout = null;
}    <!-- Start: News & Event -->
<section class="news-events section-padding">
    <div class="container">
        <div class="center-content">
            <h2 class="section-title c-light">Thông tin &amp; Sự kiện</h2>
            <span class="underline center"></span>
            <p class="lead c-light">Sự kiện lí thú của thư viện diễn ra trong thời gian tới.</p>
        </div>

        <div class="news-events-list">
            @foreach (var item in ViewBag.lstEvent as List<WebThuvien.Models.Entity.BAIDANGTHONGTIN>)
            {
                <div class="single-news-event">
                    <figure>
                        <img src="~/Content/ClientContent/Hoatdong/@item.HINHANH1" alt="Bài đăng thông tin" />
                    </figure>
                    <div class="content-block">
                        <div class="member-info">
                            <div class="content_meta_category">
                                <span class="arrow-right"></span>
                                <a href="#." rel="category tag">Hoạt động</a>
                            </div>
                            <ul class="news-event-info">
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fa fa-calendar"></i>
                                        @item.THOIGIANBATDAU
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fa fa-clock-o"></i>
                                        @item.THOIGIANKETTHUC
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fa fa-map-marker"></i>
                                        @item.DIADIEM
                                    </a>
                                </li>
                            </ul>
                            <h3><a href=".#">@item.TIEUDE</a></h3>
                            <p class="p-content">@item.NOIDUNG.</p>
                            <a class="btn btn-primary" href="/Hoatdong/Chitiet?Mabaidang=@item.MABAIDANG">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
            
            
            
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- End: News & Event -->

<script>
    function truncateText(selector, maxLength) {
        var element = document.querySelector(selector),
            truncated = element.innerText;

        if (truncated.length > maxLength) {
            truncated = truncated.substr(0, maxLength) + '...';
        }
        return truncated;
    }

    document.querySelector('.content-p').innerText = truncateText('.content-p', 300);
</script>