@{
    Layout = null;
}    <!-- Start: Features -->
<section class="features">
    <div class="container">
        <ul>
            @{ var index = 1;}
            @foreach (var item in ViewBag.Loaisach as List<WebThuvien.Models.Entity.LOAISACH>)
            {
                if (index % 2 == 0)
                {
                    <li class="light-green-hover">
                        <div class="feature-box">
                            <i class="@item.KIHIEU"></i>
                            <h3>@item.TENTHELOAI</h3>
                            <p>@item.GHICHU.</p>

                            <a class="light-green" href="Sach/Timkiemsach?noidungnhap=&loaisach=@item.MATHELOAI&linhvuc=0">
                                Xem chi tiết <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </li>
                }

                else
                {
                    <li class="green-hover">
                        <div class="feature-box">
                            <i class="@item.KIHIEU"></i>
                            <h3>@item.TENTHELOAI</h3>
                            <p>@item.GHICHU.</p>
                            <a class="green" href="Sach/Timkiemsach?noidungnhap=&loaisach=@item.MATHELOAI&linhvuc=0">
                                Xem chi tiết <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </li>
                }

                index++;
            }
            
        </ul>
    </div>
</section>
<!-- End: Features -->
