@{
    Layout = null;
}
    <!-- Start: Search Section -->
<section class="search-filters">
    <div class="container">
        <div class="filter-box">
            <h3>Tìm cuốn sách bạn yêu thích?@ViewBag.countPage</h3>
            <form action="/Sach/Timkiemsach" method="get" enctype="multipart/form-data">
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label class="sr-only" for="keywords">Tìm kiếm bằng từ khóa</label>
                        <input value="@TempData["noidungnhap"]" class="form-control" placeholder="Nhập từ khóa tìm kiếm" id="noidungnhap" name="noidungnhap" type="text">
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <select name="loaisach" id="loaisach" class="form-control">
                            <option value="0">Tất cả loại sách</option>
                            @foreach (var item in ViewBag.list_loaisach)
                            {
                                if (TempData["loaisach"] == item.MATHELOAI)
                                {
                                    <option selected value="@item.MATHELOAI">@item.TENTHELOAI</option>

                                }
                                <option value="@item.MATHELOAI">@item.TENTHELOAI</option>

                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <select name="linhvuc" id="linhvuc" class="form-control">
                            <option value="0">Tất cả lĩnh vực</option>
                            @foreach (var item in ViewBag.list_linhvuc)
                            {
                                if (TempData["linhvuc"] == item.MALINHVUC)
                                {
                                    <option selected value="@item.MALINHVUC">@item.TENLINHVUC</option>

                                }

                                <option value="@item.MALINHVUC" >@item.TENLINHVUC</option>

                            }
                            
                        </select>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="form-group">
                        <input class="form-control" type="submit" value="Tìm kiếm">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- End: Search Section -->
